requests==2.8.0
lxml==3.4.4
cssselect==0.9.1
pyquery==1.2.9
selenium==2.48.0
gunicorn==19.3.0
bottle==0.12.8
PyMySQL==0.6.7
python-editor==0.4
Mako==1.0.2
MarkupSafe==0.23
SQLAlchemy==1.0.9
alembic==0.8.3
